<p>
  <b>Type:</b>
  <%= @process_price.type %>
</p>

<p>
  <b>Item:</b>
  <%= @process_price.item_id %>
</p>

<p>
  <b>Traders:</b>
  <%= @process_price.traders_id %>
</p>

<p>
  <b>Materials:</b>
  <%= @process_price.materials_id %>
</p>

<p>
  <b>Name:</b>
  <%= @process_price.name %>
</p>

<p>
  <b>Condition:</b>
  <%= @process_price.condition %>
</p>

<p>
  <b>Price:</b>
  <%= @process_price.price %>
</p>

<p>
  <b>Unit:</b>
  <%= @process_price.unit %>
</p>

<p>
  <b>Set:</b>
  <%= @process_price.set %>
</p>

<p>
  <b>Addition price:</b>
  <%= @process_price.addition_price %>
</p>

<p>
  <b>Addition unit:</b>
  <%= @process_price.addition_unit %>
</p>

<p>
  <b>Condition weight:</b>
  <%= @process_price.condition_weight %>
</p>

<p>
  <b>Condition following:</b>
  <%= @process_price.condition_following %>
</p>

<p>
  <b>Lock version:</b>
  <%= @process_price.lock_version %>
</p>


<%= link_to 'Edit', edit_process_price_path(@process_price) %> |
<%= link_to 'Back', process_prices_path %>
