<% content_for :control do %>
    <%= submit_button_tag %>
<% end %>

<div id="main" style="width:800px;">
	<%= raw main_title %>
	<%= raw flash_tag %>

	<%= form_tag(passwd_update_user_path, {:method => :put}) do %>
	<%= fields_for :user, @user do |f| %>

	<%= @user.errors.full_messages.join("<br>") %>

	<p><font color="red" style="margin-left:5px;">*</font><%= t(:notice_required) %></p>
	<div class="sheet">
		<h4><%= hlabel_model(get_model_by_controller({})) %></h4>
		<table class="commonSheet">
			<tr>
				<th style="width: 200px;"><%= f.label :login_id %></th>
				<td style="width: 200px;"><%= @user.login_id %></td>
				<th style="width: 200px;"><%= f.label :role_id %></th>
				<td style="width: 200px;"><%= @user.role.name %></td>
			</tr>
			<tr>
				<th><%= f.label :last_name %></th>
				<td><%= @user.last_name %></td>
				<th><%= f.label :first_name %></th>
				<td><%= @user.first_name %></td>
			</tr>
			<tr>
				<th><%= f.label :password_required %><font class="mark-required" style="margin-left:5px;">*</font></th>
				<td colspan="3"><%= f.password_field :password_required, :value => "" %></td>
			</tr>
			<tr>
				<th><%= f.label :password_new %><font class="mark-required" style="margin-left:5px;">*</font></th>
				<td colspan="3"><%= f.password_field :password, :value => "" %></td>
			</tr>
			<tr>
				<th><%= f.label :password_confirmation %><font class="mark-required" style="margin-left:5px;">*</font></th>
				<td colspan="3"><%= f.password_field :password_confirmation, :value => "" %></td>
			</tr>
		</table>
	</div><!--/ sheet-->

	<%= f.hidden_field :lock_version %>

	<div class="control">
		<%= yield :control %>
	</div><!--/ control-->

	<% end %>
	<% end %>
</div><!--/ #main-->
