<div id="header">
<div class="spacer"></div>
</div><!--/ #header-->

<div id="contents">
	<div class="areaHeader">
	  <h2><%= t("actions.pop_model_production_plan") %></h2>
	</div>

	<div id="main">

<% if @model.nil? %>
		<%= t(:notice_empty) %>
<% else %>
		<%= raw main_title_core @model.disp_text %>
		<%= raw flash_tag %>

		<div class="list">

			<p><span style="color: green;"><%= t(:notice_font_green) %></span><%= t(:notice_plan_today) %></p>
			<table class="commonList">
				<thead>
					<tr>
                                                <% @plans[0..6].each do |plan| %>
							<th style="width: 80px;"><%= I18n.l(plan[:date], :format => "%a") if plan[:date].present? %></th>
						<% end %>
					</tr>
				</thead>
				<tbody>
					<% @plans.each_slice(7) do |week| %>
                                          <tr>
                                        <% week.each do |plan| %>
						<td>
							<div class="<%= plan[:date_class] %>"><%= I18n.l(plan[:date], :format => :short) if plan[:date].present? %></div>
							<div style="color: #999; float: right;"><%= plan[:plan] %></div><br />
	          		      	        </td>
                                        <% end %>
					  </tr>
					<% end %>
				</tbody>
			</table>
		</div><!--/ list-->
<% end %>
		
		<div class="control">
			<%= close_button_tag %>
		</div><!--/ control-->
		
	</div><!--/ #main-->
</div><!--/ #contents-->

<div id ="footer">
</div><!--/ #footer-->
