<div id="header">
<div class="spacer"></div>
</div><!--/ #header-->

<div id="contents">
	<div class="areaHeader">
	<h2><%= I18n.t(controller_name, :scope => [:controllers]) %></h2>
	</div>

	<div id="main">
		<%= raw flash_tag %>

		<%= form_for(@memo) do |f| %>
		<%= @memo.errors.full_messages.join("<br>") %>
	
                <p><font color="red" style="margin-left:5px;">*</font><%= t(:notice_required) %></p>
		
		<div class="list">
			<h4><%= t("actions.index") %></h4>
			<table class="commonList">
				<thead>
					<tr>
						<th style="width: 20px;"></th>
						<th style="width: 80px;"><%= hlabel :memo, :user_id %></th>
						<th style="width: 150px;"><%= hlabel :commons, :created_at %></th>
						<th><%= hlabel :memo, :contents %></th>
					</tr>
				</thead>
				<tbody>
					<% @memos.each do |memo| %>
					<tr>
						<td><%= memo.seq %></td>
						<td><%= memo.user.disp_text unless memo.user.nil? %></td>
						<td><%= hdate memo.created_at %></td>
						<td><%= memo.contents %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
			<%= t(:notice_empty) if @memos.empty? %>
		</div><!--/ list-->

		<div class="sheet">
			<h4><%= I18n.t(action_name, :scope => [:actions]) %></h4>
			<table class="commonSheet">
				<tr>
					<th style="width: 100px;"><%= f.label :contents %><font class="mark-required" style="margin-left:5px;">*</font></th>
					<td style="width: 300px;">
						<%= f.text_field :contents, :size => 50 %>
					</td>
				</tr>
			</table>
		</div><!--/ sheet-->
		
		<%= f.hidden_field :lock_version %>
		<%= hidden_field_tag :production_id, @production.id %>
		
		<div class="control">
		    <%= submit_button_button_tag(t(:button_submit), :create, :confirm => t(:confirm_submit)) %>
			<span style="padding-left: 5px;"><%= close_button_tag(:style => "margin-left:10px;") %></span>
		</div><!--/ control-->
		
		<% end %>
	</div><!--/ #main-->
</div><!--/ #contents-->

<div id ="footer">
</div><!--/ #footer-->
